
header{ height: 100px; width: 100%; max-width: 1920px; background:#fff; position: relative; font-weight: bold;}
header>h1{ float:left; width: 83px; height: 75px;  text-indent: -9999em; margin-left: 120px; margin-top: 12.5px; line-height: 75px; position: relative;}
header>h1 a{display: block; width:83px; height:75px; text-indent: -9999em;}
header>h1 img{ display: block; width: 100%; height: 100%; text-indent: -9999em;}
header button{text-indent: -9999em; display: none;}
header>#tnb{  height: 40px; line-height: 40px; float: right; position: relative; top:32px; margin-right: 5%; }

header>#tnb a{ color: #090909; font-size: 14pt; display: block; float: left; margin-right:20px; border-radius: 50%;}
header>#tnb a:hover{ background: rgba(178, 238, 166, 0.7)}
header>#tnb a:last-child{margin-right:0px;}
header>#navbar{width: 59%; height: 100px; margin: 0 auto; position: relative; top:0px; box-sizing: border-box;  z-index: 100;}
header>#navbar>ul{float:left; width: 100%; text-align: center; position: relative; margin:0 auto; box-sizing: border-box;}
header>#navbar>ul li{ position: relative;}
header>#navbar>ul>li{float:left; width: 20%; margin: 0 auto;}
header>#navbar>ul>li>a{ font-size: 24px; height: 100px; line-height: 100px; color: #090909;}
header>#navbar>ul>li>.sub{ margin-top: 10px; display: none; position: absolute; width: 100%;}
header>#navbar>ul>li>.sub>li{padding: 20px; box-sizing: border-box; height:70px;}
header>#navbar>ul>li>.sub>li>a{color: #fff; font-size: 18px; display:block;}
header>.bg{ position: absolute; top:100px; width: 100%; height: 400px; z-index: 99; background: rgba(0,0,0,0.7); display: none;}
header>#navbar>ul>li>.sub>li:hover{
    border-bottom: 2px solid #fb3073;    
}
@media screen and (max-width:1024px) and (min-width:641px){

    header{ height: 100px; width: 100%; max-width: 1024px; background:#fff; position: relative; font-weight: bold;}
    header::after{ content: ''; display: block; clear: both;}
    header>h1{ float:left; width: 143px; height: 40px;  text-indent: -9999em; margin-left: 0px; margin-top: 7px; line-height: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    }
    header>h1 a{display: block; width:143px; height:40px; text-indent: -9999em; background: url("../img/main/TBlogo.png") no-repeat;}
    header>h1 img{ display: none; width: 100%; height: 100%; text-indent: -9999em;}
    header>#tnb{top:7px; margin-right: 57px;}
    header>#tnb a{ color: #090909; font-size: 14pt; display: block; float: left;}
    header>#tnb a:first-child{margin-right:20px;}
    header>#navbar{width: 90%; height: 53px; margin: 0 auto; position: relative; top:0px; box-sizing: border-box;  z-index: 100; }
    header>#navbar>ul{float:left; width: 100%; text-align: center; position: relative; left: 0; right: 0; box-sizing: border-box; height:53px;}
    header>#navbar>ul li{ position: relative;}
    header>#navbar>ul>li{float:left; width: 20%; margin: 0 auto; height:53px; line-height: 53px;}
    header>#navbar>ul>li>a{ line-height: 53px;}
}
@media screen and (max-width:640px) {
    
    header{ height: 56px; width: 100%; min-width:360px; max-width: 640px; background:#fff; position: relative;   }
    header>h1{ float:none; width: 50px; height: 56px;  text-indent: -9999em; margin-left: 0; margin-top: 0px; line-height: 56px; margin: 0 auto; position:relative; top:-8px;}
    header>h1 a{display: block; width:50px; height:56px; text-indent: -9999em; background: url("../img/main/MBlogo.png") no-repeat; background-size: contain;}

    header>h1 img{ display: none; width: 100%; height: 100%; text-indent: -9999em;}
    header>button{width:30px; height:30px; text-indent: -9999em; display: block; position:absolute; top:13px; left:20px;  border:0px; opacity: .9;}
    header>#button{
        background: url("../img/main/toggle.png") no-repeat;
    }
    header>#close{
        background: url("../img/main/close.png") no-repeat; 
        display:none;
    }
    header>#navbar>ul>li>.sub>li:hover{
        border-bottom: none; 
    }
    header>#tnb{  display: none;}

    
    header>#navbar{width: 80%; height: 700px; margin:0; position: relative; top:0px; box-sizing: border-box;  z-index: 100; display: none;}
    header>#navbar>ul{float:none; width: 100%; height: 700px; text-align: center; position: relative; left: 0; right: 0; display: none;  transition: 1s ease-in-out;}
    header>#navbar>ul li{ position: relative;}
    header>#navbar>ul>li{float:none; width: 100%; margin: 0 auto;}
    header>#navbar>ul>li>a{ font-size: 18px; height: 50px; line-height: 50px; color: #090909;}
    header>#navbar>ul>li>.sub{ margin-top: 0px; display: none; position: relative; width: 100%;}
    
    header>#navbar>ul>li>.sub>li{padding: 2px; height:20px;}
    header>#navbar>ul>li>.sub>li>a{color: #090909; font-size: 9px; height:20px; line-height: 20px; }
    header>.bg{ position: absolute; top:55px; width: 80%; height: 700px; z-index: 99; background: rgba(255, 255, 255, 0.5); display: none;}
}
    